<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Récents</h1>

  <div class="order-items">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/per1.jpg' />
        </div>

        <div class="item-info">
          <p>Samar Derbelly</p>
          <p>Manouba,Tunis</p>
          <p>23 ans</p>

          <ion-button expand="block" class="main-button" style="background-color: red;">Non trouvé</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/per2.jpg' />
        </div>

        <div class="item-info">
          <p>Mohsen Ben ali</p>
          <p>La marsa</p>
          <p>Maladie: Al-Zahemar</p>
          <p>53 ans</p>

          <ion-button expand="block" class="main-button" style="background-color: red;">Non trouvé</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/obj1.jpg' />
        </div>

        <div class="item-info">
          <p>Chien Hesky</p>
          <p>Bardo</p>
          <p>Depuis 3 jours</p>
          <p>Age:1an Masculin</p>

          <ion-button expand="block" class="main-button" style="background-color: red;">Non trouvé</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/per3.jpg' />
        </div>

        <div class="item-info">
          <p>Mohamed Salem</p>
          <p>Jeune Garçan</p>
          <p>La Marsa</p>
          <p>18 ans</p>

          <ion-button expand="block" class="main-button" style="background-color: green;">Trouvé</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/obj3.jpg' />
        </div>

        <div class="item-info">
          <p>Permis</p>
          <p>Aouina</p>
          <p>Depuis 2 jours</p>

          <ion-button expand="block" class="main-button" style="background-color: green;">Trouvé</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
