<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Plus Récommandés</h1>

  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod3.jpg" />
      <p>3 mois</p>
      <h6>Chien Caniche</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod2.jpg" />
      <p>Achref Jazi</p>
      <h6>Carte CIN</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod4.jpg" />
      <p>23 ans</p>
      <h6>Samar Derbelly</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod6.jpg" />
      <p>57 ans</p>
      <h6>Mohsen Ben Ali</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod1.jpg" />
      <p>57 ans</p>
      <h6>Hassen Slimen</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod5.jpg" />
      <p>6 mois</p>
      <h6>Chien Hesky</h6>
    </ion-col>
  </ion-row>
</ion-content>
